<h1 mat-dialog-title>Hi {{ data.name }}</h1>
<div mat-dialog-content>
  <p *ngIf="data.name; then updateBlock; else createBlock"></p>
  <ng-template #createBlock>What's your Info?</ng-template>
  <ng-template #updateBlock>Update your Info?</ng-template>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input matInput [(ngModel)]="data.username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Website</mat-label>
    <input matInput [(ngModel)]="data.website" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
